/**
 * Copyright 2025 Magic Mount-rs Authors
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.bottom-actions-root {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 16px;
  z-index: 90;
  pointer-events: none;
  margin-top: auto;
}
.bottom-actions-root > * {
  pointer-events: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 9999px;
}
.bottom-actions-root > .spacer {
  flex: 1;
  pointer-events: none;
  box-shadow: none;
}
